{% extends "Mgmt/base.html" %}
{% block content %}
<a class="btn btn-info mb-2" href="{% url 'event-create' %}" > Add a new event</a>
{% for event in object_list %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{{ event.organizer_id.homepage }}">
        {{ event.organizer_id.name }}
      </a>
      <small class="text-muted">{{ event.event_date }}</small>
      <img height="60" width="60" src="{{ event.organizer_id.image.url }}" class="float-right" />

    </div>
    <h2><a class="article-title" href="{% url 'event-detail' event.id %}">{{ event.name }}</a></h2>
    <p class="article-content">{{ event.description|truncatewords:50 }}</p>
  </div>
</article>

{% endfor %}
{% endblock content %}