{% extends "Mgmt/base.html" %}
{% block content %}
<a class="btn btn-info mb-2" href="{% url 'location-new' event.pk %}">+</a>
<div class="text-info float-right">{{ event }}</div>
{% for location in object_list %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ location.name }}</a>
    </div>
    <p class="article-content">{{ location.description }}</p>
  </div>
</article>

{% endfor %}
{% endblock content %}