{% extends "Mgmt/Base.html" %}
{% block content %}
    {% for location in locations %}
         <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="#">{{ location.name }}</a>
                <small class="text-muted">{{ location.status }}</small>
              </div>
              <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
              <p class="article-content">{{ location.name }}</p>
            </div>
          </article>

    {% endfor %}
{% endblock content %}

